<!-- Main Content -->
<div align="right" style="margin-right:40px; margin-top:20px;">
    <a href="http://ringo.pub/About" style="text-decoration: none;" style="color:black;">About</a>
</div>
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% page.posts.each(function(item){ %>
                    <%- partial('_partial/article-index', {item: item}) %>
                <% }); %>
            </div>
        </div>
        <!-- Pagination -->
        <%- partial('_partial/pagination') %>
    </div>
</section>
